*{
  margin:0;
}

html,body{
  height:100%;
  background: #000;
}

body{
  overflow-x: hidden;
}

.main{
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
}

.main-bg{
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;

  .bg-each{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

  .m-tulip{
    background:url("../images/main/tulip.png") no-repeat;
  }
  .m-rose{
    background:url("../images/main/rose.png") no-repeat;
  }
  .m-peony{
    background:url("../images/main/peony.png") no-repeat;
  }
  .m-hydrangea{
    background:url("../images/main/hydrangea.png") no-repeat;
  }
  .m-ranunculus{
    background:url("../images/main/ranunculus.png") no-repeat;
  }

}
.menu{

  &-scroll{
    width: 4300px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }

  &-list{
    @extend %clearfix;
    transition:all .5s ease-out;

    &-item{
      display:inline;
      height:160px;
      float: left;
      padding-left:200px;

      &:nth-child(1){
        padding-left:500px;
      }

    }

    &-link{
      font-weight: 700;
      font-size: 130px;
      color: #fff;
      position:relative;

      &:hover{
        color:#8781bd;
      }

      &.pink:hover{
        color:#ff9fb4;
      }

      &-num {
        font-size: 16px;
        line-height: 150px;
        position: absolute;
        left: -43px;
      }
    }
  }
}
