.header{

}

.logo{

  &-link{
    display:block;
    width:100px;
    height:62px;
    background:url("../images/logo.png") no-repeat;
    text-indent:-99999px;
    position:fixed;
    top:40px;
    left:50px;
  }
}

