.gnb{

  &:after{
    content:"";
    display:block;
    width:220px;
    height:2px;
    background:#fff;
    margin:0 auto;
  }

  &-list{
    float:left;
    margin:38px 0 0 475px;

    &-item{
      float:left;
      margin:0 auto;
    }

    &-link{
      display:block;
      width:10px;
      height:10px;
      border-radius:50%;
      background:#8781bd;
      margin-left:50px;
      text-indent:-99999px;

    }

  }

}