.paragraph{
  color:#021725;
  font-size:18px;
}

.contents{
  text-align:center;
  box-sizing:border-box;
}

.inner-box{
  width:1280px;
  margin: 0 auto;
}

.clearfix:after{
  content:"";
  display:block;
  clear:both;
}